$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

$white: #fff;
$black: #000;
$light_gray: #eee;
$dark_gray: #889aa4;

//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
$sidebar-width: 240px;
$sidebar-hide-width: 56px;

// main style
$main-page-bg: #EFEFEF;
$main-font-color: $black;

$appmain-padding: 15px;
$navbar-height: 50px;

// css responsive width defined
$responsive-width-small: 900px;
$responsive-width-xs: 660px;
$responsive-width-xxs: 320px;
$responsive-width-middle: 1200px;
$responsive-width-large: 1440px;
